@{
    ViewBag.Title = "Home Page";
}


<div class="mt-3 mb-3">
    <div class="container mt-5">
        <div class="border-bottom">
            <h1 class="display-4 text-center mb-4">Discovery Your City</h1>
        </div>
        <!--Weather & Time Display Section-->
        <div class="row mt-4 mb-4">
            <div class="col-sm-2 bg-white text-dark text-center border-right">
                <p class="mt-3">Winter</p>
                <i class="fa fa-coffee fa-2x"></i>
                <p class="mt-3">Year 2019</p>
            </div>
            <div class="col-sm-2 bg-white text-dark text-center border-right">
                <p class="mt-3">Today</p>
                <p><i class="fa fa-umbrella fa-2x"></i>&nbsp;-17&#8451</p>
                <p>Montreal, Quebec</p>
            </div>
            <div class="col-sm-2 bg-white text-dark text-center border-right">
                <p class="mt-3">TUE</p>
                <i class="fa fa-snowflake-o fa-2x"></i>
                <p class="mt-3">-11&#176 ~ -3&#176</p>
            </div>
            <div class="col-sm-2 bg-white text-dark text-center border-right">
                <p class="mt-3">WED</p>
                <i class="fa fa-cloud fa-2x"></i>
                <p class="mt-3">-18&#176 ~ -9&#176</p>
            </div>
            <div class="col-sm-2 bg-white text-dark text-center border-right">
                <p class="mt-3">THU</p>
                <i class="fa fa-tint fa-2x"></i>
                <p class="mt-3">-17&#176 ~ -14&#176</p>
            </div>
            <div class="col-sm-2 bg-white text-dark text-center">
                <p class="mt-3">FRI</p>
                <i class="fa fa-sun-o fa-2x"></i>
                <p class="mt-3">-14&#176 ~ -12&#176</p>
            </div>
        </div>

        <!--Main Function Section-->
        <div class="row mt-5">
            <img class="w-100" src="~/Content/Images/Food_Streets_01.jpg" alt="main_bg_photo" />
            <div class="bg-white px-5 text-dark text-center col-md-10 offset-1 overflow-hidden position-relative rounded" style="top:-100px;z-index:1">
                <div class="my-3 py-3">
                    <h1 class="font-italic pb-2 border-bottom border-secondary">What is on your mind now?</h1>
                    <p class="lead">Places &#183 Food &#183 Stories</p>

                    <form class="form-inline mt-4 justify-content-center">
                        <input class="form-control mr-sm-2 col-5" type="text" placeholder="Search" aria-label="Search">
                        <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
            <div class="w-100 position-relative" style="height:200px;top:-260px;background-color:lightgray"></div>
        </div>

        <!--Result Display Section-->
        <div class="row">
            <div class="col-md-12 border-bottom mb-4">
                <p class="lead font-weight-bold text-black-50">The Information Retrieved</p>
            </div>

            <!--Meal Recommendataion Model Section-->
            <div class="col-md-6">
                <div class="card">
                    <img src="~/Content/Images/explorer_bg_01.jpg" class="card-img-top" alt="Image Cap" style="height:640px" />
                    <div class="card-body">
                        <h5 class="card-title">Recommand Me Food</h5>
                        <p class="card-text">This Model will recommand food for users</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img src="~/Content/Images/explorer_bg_02.jpg" class="card-img-top" alt="Image Cap" style="height:640px" />
                    <div class="card-body">
                        <h5 class="card-title">Recommand Me Places</h5>
                        <p class="card-text">This Model will recommand place for users</p>
                    </div>
                </div>
            </div>
        </div>

        <!--Other Display Model(s) Section-->
        <div class="mt-5 mb-5">
            <p class="lead font-weight-bold text-black-50 border-bottom pb-3">Events Nearby</p>

            <div class="row border-bottom mb-3">
                <div class="col-md-5">
                    <img src="..." alt="200 x 200 image">
                </div>
                <div class="col-md-7">
                    <p><span class="text-uppercase text-primary font-weight-bolder">Campus</span><span class="ml-3 text-muted">2019.02.05</span></p>
                    <p class="lead text-dark">Concordia Career Fair. More than 150 companies will come.</p>
                    <p>The event will be held in Feb 5th, are you ready?</p>
                </div>
            </div>
            <div class="row border-bottom mb-3">
                <div class="col-md-5">
                    <img src="..." alt="200 x 200 image">
                </div>
                <div class="col-md-7">
                    <p><span class="text-uppercase text-primary font-weight-bolder">Restaurant</span><span class="ml-3 text-muted">2019.01.30</span></p>
                    <p class="lead text-dark">ThaiExpress is now holding a anniversary activies.</p>
                    <p>Anyone who come to eat at ThaiExpress during this week will be given coupons</p>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-5 mb-3">
                <button class="btn btn-dark btn-lg" type="button">View More</button>
            </div>
        </div>

        <!--Back-to-top block, it also leaves empty space for neat layout-->
        <div class="d-flex justify-content-center mt-md-5 mb-md-5 pt-md-5 pb-md-5 border-bottom">
            <i class="fa fa-chevron-up fa-2x"></i>
        </div>

        <!--Google Map-->
        <div class="row mt-md-5 mb-md-5 pt-md-5 pb-md-5" style="background-color:#f7f7f7">
            <div class="col-md-6 text-center border-right">
                <h2 class="text-uppercase mb-4">Downtown Montreal</h2>
                <p style="padding:0;margin:0">123 XXX St, Suite XXX</p>
                <p>Montreal, QC, XXX XXX</p>
                <p>+1(123)123456</p>
                <div class="mt-5">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3423.2913364457618!2d-73.57134956589698!3d45.496301219842806!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc91a6802ef36ff%3A0x112f006b9aeff7ae!2sCentre+Bell!5e0!3m2!1sen!2sca!4v1548738037232" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <h2 class="text-uppercase mb-4">Downtown Toronto</h2>
                <p style="padding:0;margin:0">123 XXX St, Suite XXX</p>
                <p>Toronto, ON, XXX XXX</p>
                <p>+1(123)123456</p>
                <div class="mt-5">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.7366400891715!2d-79.39651644401194!3d43.66130412117865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6177666a30b74a2!2sDepartment+of+Civil+%26+Mineral+Engineering+University+of+Toronto!5e0!3m2!1sen!2sca!4v1548738378259" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>