@{
    ViewBag.Title = "Login";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <form>
                <div class="text-center mb-4">
                    <img class="mb-4" src="~/Content/Images/foodLogo.png" alt="" width="72" height="72">
                    <h1 class="h3 mb-3 font-weight-normal"><i class="fa fa-user"></i>Login UI</h1>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                        </div>
                        <input class="form-control" type="text" placeholder="Email address" required autofocus>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-key"></i></span>
                        </div>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                    </div>  
                </div>

                <div class="checkbox mb-3">
                     <label>
                         <input type="checkbox" value="remember-me"> Remember me
                     </label>
                </div>
            
                <button class="btn btn-primary btn-block" type="submit">Sign in</button>

                <p class="mt-5 mb-3 text-muted text-center">Forgot Password?</p>
                <p class="mt-5 mb-3 text-muted text-center">Or you can login with</p>

            </form>
        </div>
    </div>
</div>
