@{
    ViewBag.Title = "Signup";
}

@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        $('button').click(function () {
            if ($('#pass').val() != $('#cpass').val()) {
                $('#cpass').popover({ content: "Password and Confirm password do not match", delay: {hide: 100}});
                $('#cpass').popover('show');
                //$('#cpass').popover('hide');
                return false;
            }
            return true;
        });
    });
</script>*@

@model FoodWebApp.Models.UserModel

<div class="row bg-light text-center p-5">
    <div class="col-md-7 mb-5 px-0">
        <img src="~/Content/Images/christmas tree.jpg" style="width:100%;object-fit:cover;height:555px" alt="SignUpImage" />
    </div>
    <div class="col-md-5 mb-5 px-0">
        @*<form class="col-sm-3" asp-action="SignupRazor" asp-controller="HomeController" method="post">*@
        @using (Html.BeginForm("SignUp", "Home", FormMethod.Post, new { @class = "row px-5 mx-0 bg-white" }))
        {
            <div class="col-md-10 offset-1">
                @Html.AntiForgeryToken()

                <div>
                    <img src="~/Content/Images/city-park.png" alt="" width="140" height="140">
                </div>

                <div class="container">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user-circle-o"></i></span>
                            </div>
                            <input type="text" class="form-control" name="UserName" placeholder="Username" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-key"></i></span>
                            </div>
                            <input id="pass" type="password" class="form-control" name="Password" placeholder="Password" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-key"></i></span>
                            </div>
                            <input data-toggle="popover" data-placement="bottom" id="cpass" type="password" class="form-control" name="ConfirmPassword" placeholder="Confirm password" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                            </div>
                            <input type="email" class="form-control" name="EmailAddress" placeholder="Email address" required>
                        </div>
                    </div>

                    <button class="btn btn-primary btn-block mt-4 mb-3" type="submit">Sign Up</button>
                </div>

                <p class="text-center mt-3 text-muted">Have an account?<a class="ml-2" href="#">Sign In</a></p>
                <p class="text-muted text-center mb-3">or you can sign in with</p>

                <div class="row text-center pb-4">
                    <div class="col-md-3">
                        <a href="#" style="color:#5a5a5a" onmouseover="this.style.color='#007bff'" onmouseout="this.style.color='#5a5a5a'">
                            <i class="fa fa-google fa-2x"></i>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="#" style="color:#5a5a5a" onmouseover="this.style.color='#dc3545'" onmouseout="this.style.color='#5a5a5a'">
                            <i class="fa fa-github fa-2x"></i>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="#" style="color:#5a5a5a" onmouseover="this.style.color='#17a2b8'" onmouseout="this.style.color='#5a5a5a'">
                            <i class="fa fa-linkedin fa-2x"></i>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="#" style="color:#5a5a5a" onmouseover="this.style.color='#0000FF'" onmouseout="this.style.color='#5a5a5a'">
                            <i class="fa fa-facebook-official fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
        }
        @*</form>*@
    </div>
</div>
