@{
    ViewBag.Title = "Signup";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<form class="form">
    <input class="form-control" type="text" placeholder="Name">
  
</form>

<p>Have an account?</p><a>Sign in</a>

